.footer {
  background-color: var(--footer-background);
  font-family: var(--poppins);
}
.copyRightSection {
  background-color: var(--bg-black);
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
}
.footerTopContainer {
  display: flex;
  justify-content: space-around;
}
.linksContainer {
  display: flex;
  gap: 1rem;
}
.linksContainer > div > p {
  text-decoration: underline;
  cursor: pointer;
}
.appStoreImg {
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 1rem;
  height: 2.32rem;
}
.PrivacyPolicy {
  display: flex;
  gap: 1rem;
}
.emailPolicy > span {
  text-decoration: underline;
}

.inputContainer {
  border-radius: 50px;
  background-color: #d9d9d9;
  border: none;
}
.inputField {
  border: none;
  outline: none;
  background-color: rgba(216, 212, 212, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  border-radius: 50px;
  font-family: var(--poppins);
  width: 18rem;
  padding: 1rem 2rem;
}
.subscribeBtn {
  border: none;
  color: var(--text-white);
  background-color: #fc8a06;
  border-radius: 50px;
  padding: 1rem 2rem;
  margin-left: -4.5rem;
}


@media (max-width: 768px){}
@media (max-width: 480px){}